@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@700&display=swap');

/*===Allgemeines===*/
body {
    background-color: black;
}
h1, h2, p {
    color: white;
    font-family: 'Quicksand', sans-serif;
}
main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

/*===logo===*/
.logo img {
    height: 600px;
}

/*===Hallo===*/
.hallo h1 {
    font-size: 100px;
    margin: 0;
    line-height: 100px;
}
.hallo h2 {
    font-size: 40px;
    margin: 0;
}
.hallo p {
    font-size: 24pt;
    width: 70%;
}

@media (max-width: 991px) {
    main {
        flex-direction: column;
    } 
    
}